{% extends 'layout.html' %}

{% block body %}
<h1>{{article.title}}</h1>
<p>Written by {{article.author}} on {{article.date}}</p>
<hr>
<div>
    <small><u>Article Body</u></small>
    <h4>{{article.body | safe}}</h4>
</div>

<div class= mb-4>
{% if session.logged_in %}
{% if liked %}
<a href="/articles/article_dislike/{{article.id}}"><button class="btn btn-primary float-left">Liked</button></a>
<p class= "float-left mt-1 mx-2"><b>Total likes : {{article.like_count}}</b></p>
{% else %}

<a href="/articles/article_like/{{article.id}}"><button class="btn btn-primary float-left">Like</button></a>
<p class= "float-left mt-1 mx-2"><b>Total likes : {{article.like_count}}</b></p>
{% endif %}

<a href="/articles/article_comment/{{article.id}}"><button class="btn btn-success float-right">Comment</button></a>
<p class= "float-right mt-1 mx-2"><b>Total comments : {{article.comment_count}}</b></p>
{% else %}
<p>Login to like and comment</p>
{% endif %}
</div>

<br>
<div>
<h2 class="text-center">Comments</h2>
<hr>
{% if comments %}
<ul>
    {% for comment in comments %}
    <li>
        <p><em>{{comment.body}}</em></p>
        <p>by {{comment.author}} on {{comment.date}}</p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3>No comments yet</h3>
{% endif %}
</div>

{% endblock %}